.container {
  padding: 1rem;
  width: auto;
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .container {
    width: 900px;
  }
}