.sozai {
  padding: 10px 10px 20px 10px;
}

.sozai .image:last-of-type {
	margin-bottom: 10px
}

.sozai figure {
  line-height: 0;
  margin: 0;
  position: relative;
}

.sozai .image {
  object-fit: contain;
  position: relative !important;
  width: auto !important;
  max-width: 100%;
  border-radius: 10px;
}

.sozai h2 {
  margin: 5px 0 0;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}
@media screen and (min-width: 800px) {
  .sozai {
    width: 50%;
  }
}
